.card {
    background-color: var(--mantine-color-body);
    min-width: 17rem;
    max-width: 25rem;
    max-height: 30rem;
    margin: 1.5rem;
}

.title {
    font-family: "Greycliff CF", var(--mantine-font-family);
    text-overflow-ellipsis: true;
    overflow: hidden;
    max-height: 1.5rem;
}

.footer {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
    margin-top: var(--mantine-spacing-md);
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}